
.project-text-center {
  text-align: center;
}

.project-page-navbar {
  margin-left: 3vw;
  margin-right: 3vw;
}

.p-hero-right {
  width: 100%;
  align-self: center;
}

.p-hero-full {
  height: 53vh;
  padding-bottom: 0px;
  margin-top: 3rem;
}

.p-hero-left {
  width: 75%;
  align-self: center;
}
.project-description {
  width: 50%;
  align-self: left;
  line-height: 1.7rem;
}

.project-mockups {
  width: 75%;
}

/* project grid */

.p-project-grid {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.p-row-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.p-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 7px;
  /*
  -webkit-box-shadow: 0px 12px 29px -19px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 12px 19px -19px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 12px 29px -19px rgba(0, 0, 0, 0.33);
  */
  transition: all 200ms ease-out;
  border: 0px solid #fff;
}

.single {
  grid-template-columns: 1fr;
}

.single-img {
  height: 100%;
}

.triple {
  grid-template-columns: 1fr 1fr 1fr;
}

.p-grid-btns {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

/* New Project pages */

.new-project-info {
  gap: 8rem;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.bottom-paragraph {
  margin-bottom: 0px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 7px;
}

.project-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* responsive */

@media (min-width: 960px) and (max-width: 1199px) {
  .project-mockups {
    width: 90%;
  }
  .project-description {
    width: 80%;
  }

  .p-hero-full {
    height: 35vh;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .project-mockups {
    width: 100%;
  }

  .p-project-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .p-row-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .single {
    grid-template-columns: 1fr;
  }

  .project-description {
    width: 100%;
  }

  .p-hero-full {
    height: 25vh;
  }

  .new-project-info {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 639px) {
  .project-mockups {
    width: 100%;
  }

  .p-desc-row-left {
    text-align: left;
    width: 100%;
  }

  .p-desc-row-left > p:nth-child(1) {
    margin-top: 0px;
  }

  .project-description > p:nth-child(4) {
    margin-bottom: 0px;
  }

  .p-hero-left,
  .p-hero-right {
    width: 100%;
  }

  .p-hero-left .h1 {
    margin-bottom: 0px;
    margin-top: 0rem;
  }

  .p-row-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .p-hero {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .project-description {
    width: 100%;
  }

  .p-hero-full {
    height: 8vh;
  }

  .project-text-center {
    text-align: left;
  }

  .new-project-info {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}


/* NEW PROJECT HEROS */
.p-hero-full {
  padding-bottom: 0px;
  margin-top: 3rem;
}


.cfd-hero {
  background-image: url(images/project-gradient.png),
  url(/mockups/cfd-header.png);
}

.ofd-hero {
  background-image: url(images/project-gradient.png),
  url(/mockups/ofd-hero.png);
}

.streamline-hero {
  background-image: url(images/project-gradient.png),
  url(/mockups/streamline-mockup.png);
}

.calpendo-hero {
  background-image: url(images/project-gradient.png),
  url(/mockups/calpendo-mockup.png);
}

.ra-hero {
  background-image: url(images/project-gradient.png),
  url(/mockups/ra-hero.webp);
}


.nihongo-hero {
  background-image: url(images/project-gradient.png),
  url(/mockups/nihongo-hero.webp);
}

.project-hero {
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom center;
  background-size: 100% auto, 90% auto;
  z-index: 0, 1;
  background-size: 100% auto, contain;
}