.project-page-navbar {
  margin-left: 4vw;
  margin-right: 4vw;
}

.container-project {
  margin-left: 10vw;
  margin-right: 10vw;
}

.project-description {
  width: 70%;
  align-self: left;
  line-height: 1.7rem;
}

.project-description p {
  width: 89%;
}

.project-description ul {
  width: 89%;
}

.project-description ol {
  width: 89%;
}

.container-project ul,
ol {
  padding-left: 16px;
}

.project-logo {
  width: 100%;
  box-shadow: 0px 0px 29px -15px rgba(0, 0, 0, 0.33);
  border-radius: 7px;
}

.project-hero-contain {
  display: flex;
  gap: 2rem;
}

.project-hero-col-1 {
  align-content: center;
}

/* project grid */

.p-project-grid {
  display: flex;
  flex-direction: column;
}

.project-pic-gap-bottom {
  padding-bottom: 2.5rem;
}

.project-pic-gap-top {
  padding-top: 2.5rem;
}

.p-row-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.p-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 7px;
  /*
  -webkit-box-shadow: 0px 12px 29px -19px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 12px 19px -19px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 12px 29px -19px rgba(0, 0, 0, 0.33);
  */
  transition: all 200ms ease-out;
  border: 0px solid #fff;
}

.single {
  grid-template-columns: 1fr;
}

.single-img {
  height: 100%;
}

.p-grid-btns {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.h3-mid-text {
  margin-top: 2.5rem;
}

.project-hr {
  margin: 4rem 0rem 4rem 0rem;
}

/* New Project pages */

.new-project-info {
  gap: 8rem;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.bottom-paragraph {
  margin-bottom: 0px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 7px;
}

.project-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case-study-between {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.list-large li {
  padding-top: 0.5rem;
}

/* responsive */
@media (min-width: 1200px) and (max-width: 1400px) {
  .project-description {
    width: 85%;
  }

  .container-project {
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .project-description p {
    width: 85%;
  }

  .project-description ul {
    width: 85%;
  }

  .project-description ol {
    width: 85%;
  }
}

@media (min-width: 960px) and (max-width: 1199px) {
  .container-project {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .project-description {
    width: 90%;
  }

  .project-description p {
    width: 90%;
  }

  .project-description ul {
    width: 90%;
  }

  .project-description ol {
    width: 90%;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .p-project-grid {
    display: flex;
    flex-direction: column;
  }

  .p-row-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .single {
    grid-template-columns: 1fr;
  }

  .project-description {
    width: 100%;
  }

  .new-project-info {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .container-project {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .project-description p {
    width: 100%;
  }

  .project-description ul {
    width: 100%;
  }

  .project-description ol {
    width: 100%;
  }
  .p-row-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .project-hero-contain {
    display: flex;
    flex-direction: column;
  }

  .project-pic-gap-bottom {
    padding-bottom: 2rem;
  }

  .project-pic-gap-top {
    padding-top: 2rem;
  }

  .p-row-container {
    gap: 2rem;
  }

  .h3-mid-text {
    margin-top: 2rem;
  }

  .case-study-between {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .project-hr {
    margin: 2.5rem 0rem 2.5rem 0rem;
  }
}

@media (max-width: 639px) {
  .project-description > p:nth-child(4) {
    margin-bottom: 0px;
  }

  .project-hero-contain {
    display: flex;
    flex-direction: column;
  }

  .p-row-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .project-description {
    width: 100%;
  }

  .new-project-info {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .container-project {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .project-description p {
    width: 100%;
  }

  .project-description ul {
    width: 100%;
  }

  .project-description ol {
    width: 100%;
  }
  .p-row-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .project-hero-contain {
    display: flex;
    flex-direction: column;
  }

  .project-pic-gap-bottom {
    padding-bottom: 2rem;
  }

  .project-pic-gap-top {
    padding-top: 2rem;
  }

  .p-row-container {
    gap: 2rem;
  }

  .h3-mid-text {
    margin-top: 2rem;
  }

  .case-study-between {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .p-grid-btns {
    margin-top: 2.5rem !important;
  }

  .project-hr {
    margin: 2.5rem 0rem 2.5rem 0rem;
  }
}

@media (min-width: 450px) and (max-width: 639px) {
}

/* NEW PROJECT HEROS */
.cfd-hero {
  background-image: url(images/project-gradient.png),
    url(/mockups/cfd-header.png);
}

.ofd-hero {
  background-image: url(images/project-gradient.png), url(/mockups/ofd-hero.png);
}

.streamline-hero {
  background-image: url(images/project-gradient.png),
    url(/mockups/streamline-mockup.png);
}

.calpendo-hero {
  background-image: url(images/project-gradient.png),
    url(/mockups/calpendo-mockup.png);
}

.ra-hero {
  background-image: url(images/project-gradient.png), url(/mockups/ra-hero.webp);
}

.nihongo-hero {
  background-image: url(images/project-gradient.png),
    url(/mockups/nihongo-hero.webp);
}

.cfd-gradient {
  background: linear-gradient(90deg, #5e7c77 0%, #94b7b6 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.3;
}

.calpendo-gradient {
  background: linear-gradient(90deg, #7e97ea 0%, #eb817d 30%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.3;
}

.ocr-gradient {
  background: linear-gradient(90deg, #bc936b 0%, #a97d53 30%, #9b744f 40%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.3;
}

.cfd-gradient::selection {
  -webkit-text-fill-color: #ffffff;

}

.calpendo-gradient::selection {
  -webkit-text-fill-color: #fff;

}

.ocr-gradient::selection {
  -webkit-text-fill-color: #ffffff;

}
